<!-- This is a base template file for creating new pages -->
<!-- Extends basically adds the stuff from base.html like bootstrap, the capstone logo thing and the css -->
{% extends "base.html" %}

<!-- Change the words "Template" to change the title of the page -->
{% block title %}Title{% endblock %}

<!-- Add styling here-->

{% block stylesheet %}

{% endblock %}


<!-- Add things to nav block to add to nav bar or just remove-->
{% block nav %}

{% endblock %}

<!-- Add things to content block to add content -->
{% block content %}

{% endblock %}


<!-- Add things to forms block to add a form -->

{% block forms %}

{% endblock %}