{% extends "base.html" %}
{% block stylesheet %}
<style>
.WebName {
    color: green; 
    position: absolute;
    left: 200px;
    top: 0px;
    font-size: 40px;
}


.FormHeader {
    position: relative;
    text-align: center;
    top: 50px; 
    font-size: 50px;
}


.form {
    display: flex;
    position: relative;
    flex-direction: column;     
    justify-content: center;
    align-items: center;
    height: 100%;
    top: 50px; 
}


.form input {
    width: 400px;
    border: 1px solid #000000;
    border-radius: 4px;
    font-size: 16px;
    padding: 8px;
}

.form input[type='radio'] {
    width: 20px;
    border: 1px solid #000000;
    border-radius: 4px;
    font-size: 16px;
    padding: 8px;
}

.FormGroup1 {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}

.FormGroup2 {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}

.FormGroup3 {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}


.FormGroup4 {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: -250px;

}

.FormGroup5 {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: -250px;
}

.floating-input {
    float: left;
    margin-right: 100px;
}

.green-button {
    background-color: green;
    color: white;
    padding: 20px 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 400px
}
.red-button {
    background-color: red;
    color: white;
    padding: 20px 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
</style>

{% endblock %}
{% block title %}Create Entry{% endblock %}


{% block content %}
    <p class="FormHeader">      
        <u> Create New Capstone Entry</u>
        
    </p>

    <form method="post" action="/create-entry">

        <div  class="form">

                <div class="FormGroup1">
                    <div class="floating-input">
                        <label for = "name"> <B>NAME</B> </label><br>
                        <input type = "text" id = "name"  placeholder="e.g. Tan KK"><br>
                    </div>
                    <div class="floating-input">
                        <label for = "title"> <b>CAPSTONE TITLE</b></label><br>
                    <input type = "text" id = "title"  placeholder="e.g. Quantum Mechanics"><br>
                    </div>
                </div>

                <div class="FormGroup2">
                    <div class="floating-input">
                        <label for = "student"> <B>NO. OF STUDENT</B> </label><br>
                        <input type = "text" id = "numofstudents"  placeholder="e.g. 4"><br>
                    </div>
                    <div class="floating-input">
                        <label for = "company"> <B>NAME OF COMPANY</B> </label><br>
                        <input type = "text" id = "company"  placeholder="e.g. KK Company"><br>
                    </div>
                </div>

                <div class="FormGroup3">
                    <div class="floating-input">
                        <label for = "year"> <B>ACADEMIC YEAR</B> </label><br>
                        <input type = "date" id = "year"  placeholder="e.g. 4"><br>
                    </div>
                    <div class="floating-input">
                        <label for = "companycontact"> <B>COMPANY POINT OF CONTACT</B> </label><br>
                        <input type = "text" id = "companycontact"  placeholder="e.g. TAN BB"><br>
                    </div>
                </div>

                <div class="FormGroup4">
                    <div class="floating-input">
                        <label for = "description"> <B>BRIEF DESCRIPTION OF PROJECT</B> </label><br>
                        <textarea  type = "text" id = "description" placeholder="Write Here"  rows="6"  cols="70"></textarea><br>
                    </div>
                    <div>
                        <label for = "contact"> <B>ROLE OF CONTACT</B> </label><br>
                        <input type="radio" id="staff" value="Staff">
                        <label for="staff">Staff</label><br>
                        <input type="radio" id="student" value="Student">
                        <label for="student">Student</label>        
                    </div>
                </div>

                <div class="FormGroup5">
                    <a class="green-button btn btn-primary btn-danger btn-lg ml-5" href="/welcome">Save</a>
                    <a class="red-button btn btn-primary btn-danger btn-lg ml-5" href="/welcome">Cancel</a>
                </div>
        </div>
    </form>
{% endblock %}

