{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block nav %}
    <div class="navbar-nav ml-auto" style="margin-right: 100px;">
        <a class="btn btn-primary btn-success btn-lg" style="width: 120px" id="login" href="/login">Login</a>
    </div>
{% endblock %}

{% block content %}
    <h1 class="text-center fw-bold" style="font-size: 60px; margin-top:200px;">Welcome to the TSAO</h1>
    <h1 class="text-center fw-bold" style="font-size: 60px;">Capstone Records System</h1>
{% endblock %}
