{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% block nav %}
    <div class="navbar-nav ml-auto" style="margin-right: 100px;">
        <a class="btn btn-primary btn-danger btn-lg" style="width: 120px" id="logout" href="/logout">Logout</a>
    </div>
{% endblock %}

{% block content %}
    <br/><br/><br/><br/><br/>
    {% if current_user.isAdmin==False %}
        <h1 class="text-center fw-bold" style="font-size: 60px;">Hi {{current_user.username}}.</h1>
        <h1 class="text-center fw-bold" style="font-size: 60px;">Welcome to the TSAO Capstone Records System</h1>
        <br/><br/><br/>
    
        <div class="d-flex justify-content-center">
            <a type="submit" class="btn btn-primary btn-success btn-lg mr-5" style="width:200px" href=""> Create </a>
            <a type="submit" class="btn btn-primary btn-success btn-lg invisible" style="width:200px" href=""> Modify Accounts </a>
            <a type="submit" class="btn btn-primary btn-success btn-lg ml-5" style="width:200px" href=""> Query </a>
        </div>
    {% else %}
        <h1 class="text-center fw-bold" style="font-size: 60px;">Hi Administrator.</h1>
            <h1 class="text-center fw-bold" style="font-size: 60px;">Welcome to the TSAO Capstone Records System</h1>
    <br/><br/><br/>

    <div class="d-flex justify-content-center">
        <a type="submit" class="btn btn-primary btn-success btn-lg mr-5" style="width:200px" href=""> Create </a>
        <a type="submit" class="btn btn-primary btn-success btn-lg" style="width:200px" href=""> Modify Accounts </a>
        <a type="submit" class="btn btn-primary btn-success btn-lg ml-5" style="width:200px" href=""> Query </a>
    </div>
    {% endif %}

{% endblock %}
